*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    font-family: sans-serif;
}
.container{
    max-width: 600px;
    width: 100%;
    margin: 70px auto;
    background-color: #ff0;
    padding: 20px;
}
.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
#name{
    font-size: 16px;
    padding: 7px;
    outline: none;
    border-radius: 7px;
    border: none;
    background: rgb(221, 221, 164);
}
#inputs{
    margin-top: 60px;
    h3{
        margin-top: 15px;
    }
    input{
        margin: 7px;
    }
}